@font-face {
    font-family: "Nunito Sans";
    src: url(/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "Nunito Sans - Extra Bold";
    src: url(/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf);
}

@font-face {
    font-family: "Nunito Sans - Semi Bold";
    src: url(/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}

@font-face {
    font-family: "Nunito - Semi Bold";
    src: url(/fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: "Nunito";
    src: url(/fonts/Nunito/Nunito-Regular.ttf);
}

body {
    background-color: #fff;
    font-family: "Nunito Sans - Semi Bold";
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.wrapper {
    max-width: 1600px;
    margin: 0 8.3vw;
    text-align: center;
}

.header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;

}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

}

.headerBody {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 57px;
    padding-top: 71px;
    padding-bottom: 95px;
    transition: 0.3s;


}

.headerBody.fixed {
    padding-top: 20px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.logo {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.logo img {
    background: no-repeat;
}

.navHeader {
    display: flex;
    z-index: 2;
    position: relative;
    overflow: auto;
}


.nav {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 3.1vw;
    margin: 0;
    max-width: 500px;
    align-items: center;
}

.navToggle {
    display: none;
}

.nav a {
    color: #bab8b8;
    font-family: "Nunito";
    font-size: 20px;
    font-size: calc(14px + 0.3125vw);
}

.navItem {
    margin-left: 3.1vw;
}

.navItem:first-child {
    margin-left: 0;
}

.navLink.activeClass {
    color: #4497f3;
    font-family: "Nunito - Semi Bold";
}

.btnSignInSm {
    display: none;
}

.btnSignIn {
    border: 3px solid #3984f3;
    padding: 1vw 2.4vw;
    color: #3984f3;
    font-family: "Nunito";
    font-size: calc(14px + 0.3125vw);


}



/* responsive */


@media screen and (max-width :1200px) {
    .wrapper {
        max-width: 970px;
    }

    .logo img {
        max-width: 150px;
    }

    .headerBody {
        height: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


@media screen and (max-width :992px) {
    .wrapper {
        max-width: 750px;
    }

    .logo img {
        max-width: 130px;
    }

    .navItem {
        margin-left: 2.5vw;
    }

    .headerBody {
        height: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width :767px) {
    .wrapper {
        max-width: none;
        margin: 0 auto;
        padding: 0 4.68vw;
    }

    .logo img {
        max-width: 110px;
    }

    .headerBody {
        height: 55px;
        padding-top: 10px;
        padding-bottom: 0;
    }

    .headerBody.fixed {
        padding-bottom: 0;
        padding-top: 10px;
    }

    .navHeader {
        position: fixed;
        width: 100%;
        height: 35%;
        top: -100%;
        left: 0;
        background-color: white;
        padding: 85px 0 0 0;
        transition: all .3s ease 0s;



    }

    .navHeader.active {
        top: 0;
        transition: all .3s ease 0s;
    }

    .nav {
        display: block;
        margin: 0 auto;

    }

    .nav a {
        font-size: calc(18px + 0.3125vw)
    }

    .navItem {
        margin-left: 0;

    }

    .navItem::after {
        content: '';
        background-color: #4497f3;
        display: block;
        width: 15px;
        height: 2px;
        margin: 15px auto;
    }

    .navItem:last-child::after {
        display: none;
    }

    .navLink {
        position: relative;
        z-index: 1;
    }

    .navLink:hover {
        color: #4497f3;

    }

    .btnSignIn {
        display: none;
    }



    .navToggle {
        display: block;
        position: absolute;
        cursor: pointer;
        width: 30px;
        z-index: 1;
        right: calc(4.68vw + 30px);
        border: none;
        background: none;
        padding: 0;
        z-index: 3;
    }


    .navToggle:focus {
        outline: none;
    }

    .navToggle.active .navToggleItem {
        background: none;

    }

    .navToggleItem {
        display: block;
        width: 100%;
        top: 9px;
        height: 3px;
        background-color: #3984f3;
        transition: all .3s ease 0s;

    }


    .navToggle::before,
    .navToggle::after {
        content: "";
        background-color: #3984f3;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: -9px;
        transition: all .3s ease 0s;

    }

    .navToggle::before {
        top: 9px
    }

    .navToggle.active::before,
    .navToggle.active::after {
        transform: rotate(45deg);
        top: 0px;
    }

    .navToggle.active::after {
        transform: rotate(-45deg);
        top: 0px;
    }

    .btnSignInSm {
        display: block;
        position: absolute;
        right: 4.68vw;
        z-index: 3;

    }

    .btnSignInSm i {
        color: #3984f3;
        font-size: calc(20px + 0.3125vw);
    }
}


/* header */


.signUp {
    position: relative;
    padding-top: 223px;
}

.signUp .container {
    display: flex;
    justify-content: space-between;
    margin-left: 8.3vw;
}

.headerSignUp {
    padding-top: 226px;
    margin-bottom: 318px;
    max-width: 514px;
    z-index: 1;
}


.titleHeader {
    color: #091e40;
    font-family: "Nunito Sans - Extra Bold";
    font-size: calc(14px + 3.17vw);
    font-weight: 400;
    line-height: calc(14px + 3.43vw);
    letter-spacing: -3px;
    margin: 0;

}

.titleHeader+p {
    color: #81858e;
    font-family: "Nunito Sans";
    font-size: calc(14px + 0.42vw);
    font-weight: 400;
    line-height: calc(14px + 1.09vw);
    letter-spacing: 0.22px;
    margin: 76px 0 96px;
}

.btn {
    padding: 1vw 2.4vw;
    color: #ffffff;
    font-family: "Nunito Sans - Semi Bold";
    font-size: calc(14px + 0.3125vw);
    font-weight: 400;
    letter-spacing: 0.2px;
    background-color: #3984f3;
    border: none;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}


.signUp .container .imgRight {
    max-width: 1600px;

}

.signUp .container .imgRight img {
    width: 100%;
}


.signUp::before {
    content: url(/img/headerImageLeft.png);
    display: block;
    position: absolute;
    top: 810px;
}

/* responsive */


@media screen and (max-width :1200px) {

    .signUp {
        padding-top: 170px;
    }

    .headerSignUp {
        padding-top: 120px;
        margin-bottom: 170px;
    }
    .titleHeader{
        letter-spacing: 0px;
    }

    .signUp .container .imgRight {
        max-width: 750px;

    }

    .titleHeader+p {
        margin: 60px 0 70px;
    }

    .signUp::before {
        top: 450px;
        transform: scale(.6);
    }
}


@media screen and (max-width :992px) {
    .signUp {
        padding-top: 150px;
    }

    .signUp .container .imgRight {
        max-width: 570px;

    }

    .headerSignUp {
        padding-top: 70px;
        margin-bottom: 130px;
    }

    .titleHeader+p {
        margin: 40px 0 50px;
    }

    .signUp::before {
        display: none;
    }


}

@media screen and (max-width :767px) {
    .signUp {
        padding-top: 95px;
    }

    .signUp .container {
        justify-content: center;
        margin: 0 auto;
        padding: 0 4.68vw;
    }

    .signUp .container .imgRight {
        display: none;
    }
    .headerSignUp {
        padding-top: 15px;
        margin-bottom: 35px;
    }
    .titleHeader+p {
        margin: 20px 0 25px;
    }

    /* .signUp::before {
        top: 200px;
        transform: scale(.6);
        content: url(/img/headerImageLeft.png);
        display: block;
        position: absolute;
    } */

}


/* signUp */


.listTravel {
    position: relative;
    padding-top: 230px;
    padding-bottom: 254px;
}

.listTravel .container {
    display: flex;
    justify-content: space-between;
    margin: 0 160px 0 0;
}

.listTravelArticle {
    max-width: 574px;
    margin-left: 135px;
}

.title {
    color: #091e40;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 50px;
    margin: 0;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.13px;
}

.listTravelArticle .title~p {
    margin: 0 0 61px;
    max-width: 559px;

}

.listTravelArticle .line {
    margin: 40px 0 59px;

}

.line {
    width: 78px;
    height: 6px;
    background-color: #3984f3;
    display: block;

}

.title~p {
    color: #81858e;
    font-family: "Nunito Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.6px;
    margin: 0;
}


.listPlaces {
    max-width: 1044px;
    min-width: 888px;
}

.placesContainer {
    overflow: hidden;
}

.places {
    display: flex;
    transition: 0.2s;

}

.place {
    position: relative;

}

.dataPlace {
    display: none;
}

.activeClass .dataPlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.activeClass .duration {
    color: #a0a0a0;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.24px;
}

.place.activeClass {
    bottom: 73px;
}

.far {
    color: #3984f3;
}

.fa {
    color: #3984f3;
}

.imagePlace {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(29, 48, 55, 0) 95%, rgba(29, 47, 55, 0.2) 100%);

}

.listPlaces img {
    z-index: -1;
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
}

.pricePlace {
    position: absolute;
    top: 31px;
    z-index: 1;
    color: #ffffff;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.24px;
    background-color: #3984f3;
    padding: 10px 30px;
}

.namePlace {
    position: absolute;
    bottom: 73px;
    left: 25px;
    z-index: 1;
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 23px;
    font-weight: 400;
}

.navigation {
    padding-top: 78px;
    margin-left: 160px;


}

.arrow {
    width: 39px;
    height: 28px;
    color: #a0a0a0;
    border: none;
    background-color: white;
    cursor: pointer;
}

.arrow:disabled {
    opacity: 0.5;
}

.prevPlace,
.prevCateg {
    margin-right: 62px;
}

/* listTravel */


.videosTravel {
    padding-bottom: 251px;

}

.videosTravelArticle .title~p {
    margin: 0 auto 100px;
    max-width: 1214px;
    letter-spacing: -0.74px;

}

.videosTravelArticle .line {
    margin: 45px auto 58px;

}

.videos {
    display: flex;

}

.mainVideo {
    max-width: 1072px;
    max-width: 67%;
    width: -webkit-fill-available;
    margin-right: 1%;
    height: 100%;

}

.responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    height: 100%;
    overflow: hidden;
}

.responsive:hover .controls {
    transform: translateY(0);
    transition-duration: .2s;
}

.titleVideo {
    color: #fff;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0.15px;
    position: absolute;
    z-index: 2;
    bottom: 18%;
    left: 53px;
    text-align: start;
}

.timeVideo {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.11px;
    position: absolute;
    z-index: 2;
    bottom: 11%;
    left: 53px;
}


.controls {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: rgba(254, 254, 254, 0.5);
    transform: translateY(100%);

}

.buttonsControls button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.buttonsControls button::before {
    content: '\f144';
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    color: #fff;
    font-size: 25px;
}

.bar {
    height: 10%;
    top: 0;
    left: 0;
    width: 100%;
}

.barSlider {
    height: 100%;
    width: 0;
    background-color: orangered;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    transform: translate(-50%, -50%);
}

.buttons .pause {
    transition: 2s;
    opacity: 0;
}

.buttons button::before {
    content: url(/img/play.png);
    display: inline-block;
}

.buttonsControls button.play::before {
    content: '\f144';
    font-family: "Font Awesome 5 Pro";
}

.buttonsControls button.pause::before {
    content: '\f28b';
    font-family: "Font Awesome 5 Pro";
    font-size: 25px;
}

.buttons button.play::before {
    content: url(/img/play.png);
}

.buttons button.pause::before {
    content: url(/img/pause.png);
    width: 85px;
    height: 85px;
}

.responsive video {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;

}


.otherVideos {
    padding-right: 3%;
    max-width: 32%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 573px;

}

.otherVideos::-webkit-scrollbar {
    width: 6px;
}

.otherVideos::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

.video {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.8%;
    text-align: start;
    align-items: center;
}

.video.activeClass {
    background-color: rgba(152, 152, 152, .15);
}


.videoFromList {
    max-width: 38%;
}

.dataVideo {
    width: 55%;
    margin-left: 4%;
    position: relative;

}

.titleVideoFromList {
    color: #091e40;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin: 0 0 0;

}

.durationVideoFromList {
    opacity: 0.7;
    color: #091e40;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.11px;
    margin: 1% 0 0 0;

}

@media (max-width:1536px) and (min-width: 991px) {
    .otherVideos {
        height: 431px;
    }
}

/* videosTravel */

.categoriesTravel {
    padding-bottom: 249px;
}

.categoriesTravelArticle {
    max-width: 1202px;
    margin: 0 auto 175px;
    text-align: center;
}

.categoriesTravelArticle .line {
    margin: 36px auto 58px;
}

.galleryCategories {
    margin: 0 auto 96px;

}

.galleryContainer {
    overflow: hidden;
}

.imagesCategory {
    display: flex;
    transition: 0.2s;

}

.category {
    height: 500px;
    border: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(29, 48, 55, 0) 95%, rgba(29, 47, 55, 0.2) 100%);
    position: relative;

}

.imageCategory {
    position: absolute;
    z-index: -1;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.titleCateg {
    position: absolute;
    bottom: 38px;
    left: 10%;
    color: #ffffff;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.26px;
    z-index: 1;

}

.imagesCategory .activeClass {
    bottom: 59px;
}


/* categoriesTravel */

.experiencesTraveles {
    padding-bottom: 251px;
}

.experiencesTravelArticle {
    max-width: 1051px;
    margin: 0 auto 79px;
}

.experiencesTravelArticle .line {
    margin: 34px auto 81px;
}

blockquote {
    color: #091e40;
    font-family: "Nunito Sans";
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.26px;
    margin: 0
}

.galleryTrevellers {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.trevellersContainer {
    overflow: hidden;
    max-width: 470px;
    position: relative;

}

.trevellers {
    display: flex;
    transition: 0.2s;


}

.treveller {
    text-align: center;
    display: none;
}

.treveller.active {
    display: block;
    min-width: 470px;
}



.nameTreveller {
    margin: 40px auto 18px;
    color: #2b323a;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 700;
}

.position {
    color: #2b323a;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 400;

}

.indicators {
    max-width: 225px;
    margin: 57px auto 0;
    display: flex;
}

.lineIndicator {
    width: 38px;
    height: 3px;
    background-color: #7185de;
    opacity: 0.3;
    margin-left: 17px;
}

.lineIndicator:first-child {
    margin-left: 0;
}

.indicators .active {
    background-color: #3984f3;
    opacity: 1;
    width: 60px;
}

/* experiencesTraveles */

.bookingTravel {
    background-color: #1d3037;
}

.banner {
    background: url(/img/bg_booking.png) no-repeat;
    padding: 313px 0;
    background-size: cover;
}

.slogan {
    color: #ffffff;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    line-height: 47.89px;
    text-transform: uppercase;
    letter-spacing: -1.95px;

}

.action {
    color: #ffffff;
    font-family: "Nunito Sans - Extra Bold";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -1.5px;
    word-spacing: -3.5px;
    margin: 34px auto 87px;
    text-align: center;

}

.form {
    max-width: 1557px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.form select,
.datesForm {
    background-color: rgba(255, 255, 255, .3);
    color: #ffffff;
    padding-left: 41px;
    width: 22%;
    max-width: 348px;
    border: none;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}


.datesForm {
    background: url('/img/dates.png') no-repeat;
    background-size: 14px;
    background-position: calc(100% - 47px) center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .3);

}

::placeholder {
    color: white;
}

.packageForm,
.destinationsForm {
    background: url('/img/sort_white.png') no-repeat;
    background-size: 12px;
    background-position: calc(100% - 47px) center;
    background-repeat: no-repeat;
}

option {
    background-color: rgba(29, 48, 55, .9);

}

.bookNow {
    padding: 27px 125px 25px 124px;
    background-color: #3984f3;
    border: none;
    color: #ffffff;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 23px;
    font-weight: 400;
    line-height: 45.7px;
    transition: 0.5s;

}

.bookNow:hover {
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5s;
}

.navFooter {
    margin: 75px auto 40px;
    max-width: 780px;
    display: flex;
    justify-content: space-around;
}

.navItemFooter {
    margin-left: 45px;
    color: #2b323a;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 400;
}

.navItemFooter:first-child {
    margin-left: 0;
}

.navItemFooter:hover {
    font-weight: 700;
}

address {
    text-align: center;
    color: #c6c6c6;
    font-family: "Nunito Sans - Semi Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 49.83px;
    letter-spacing: 0.38px;
    margin-bottom: 25px;
}

address span {
    color: #2b323a;
}

.social {
    display: flex;
    max-width: 260px;
    margin: 0 auto 80px;
}

.social a {
    color: white;
    margin-left: 24px;
    background-color: #3984f3;
    border-radius: 50% 50%;
    width: 47px;
    height: 47px;
    line-height: 50px;
    text-align: center;
}

.social a:first-child {
    margin-left: 0;
}